//smaller icons' size for note card
.icon--normal {
  opacity: 0;
  transition: opacity ease-in-out 0.25s;

  &:hover {
    opacity: 1;
  }
  img {
    max-width: 18px;
    padding: 5px 8px;
    cursor: pointer;
  }
}

//bigger icons' size for note
.icon--large {
  opacity: 1;
  img {
    max-width: 28px;
    padding: 5px 8px;
    cursor: pointer;
  }
}
