@import '../../styles/variables';

.note-container {
  padding: 10px 20px;
  //   border: 1px solid green;
  max-width: 700px;
  width: 100%;
  text-align: center;
  box-shadow: 1px 3px 5px rgba($black, 0.2);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  margin-top: 50px;

  h2,
  h3 {
    margin: 8px 0;
    display: block;
    width: 100%;
  }
  h2 {
    color: $light-red;
  }
  p {
    font-size: 14px;
    font-weight: 700;
    margin: 8px 0;
  }
}

.markup-conainer {
  margin: 20px;
  text-align: center;
  max-width: 550px;
}

.icons-wrapper {
  margin: 20px 0;
  //   width: 100%;
  //   border: 1px solid red;
}
