@import '../../styles/variables';

.note-list {
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-flow: rows;
  grid-gap: 8px;

  &__icons {
    opacity: 0;
    transition: opacity ease-in-out 0.25s;
    // border: 1px solid green;

    &:hover {
      opacity: 1;
    }
    & img {
      max-width: 18px;
      padding: 5px 8px;
      cursor: pointer;
    }
  }
}
