@import '../../styles/variables';

.modal {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  position: fixed;
  z-index: 500;
  background-color: $white;
  width: 75%;
  height: 90vh;
  border: 1px solid $grey-light;
  box-shadow: 1px 1px 1px $charcoal;
  padding: 16px;
  left: 15%;
  top: 5%;
  box-sizing: border-box;
  //   transition: all 0.3s ease-out;
  transition: all 0.3s ease-in-out;
}
