@import '../../styles/variables';

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid $grey-lighter;
  h1 {
    color: $red-light;
  }
  .create {
    margin-left: auto;

    button {
      background: $red-light;
      color: $white;
      border: 0;
      padding: 8px;
      border-radius: 8px;
      cursor: pointer;
      outline: none;
      &:active {
        font-weight: bold;
      }
    }
  }
}
