@import 'styles/variables';

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: 'Quicksand';
  color: $charcoal;
}

.App {
  text-align: center;
  background-color: $white;
}

.content {
  // border: 1px solid blue;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
