@import '../../styles/variables';

.note-preview {
  padding: 8px 16px;
  margin: 10px 0;
  border-bottom: 1px solid $shade-light;
  cursor: pointer;
  &:hover {
    box-shadow: 1px 3px 5px rgba($black, 0.1);
  }

  h3,
  p {
    margin-bottom: 8px;
  }
  h3 {
    font-size: 16px;

    font-weight: 700;
  }
  p {
    font-size: 14px;
  }
}
