@import '../../styles/variables';

.form-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;

  label {
    text-align: left;
    display: block;
  }

  h2 {
    font-size: 25px;
    color: $red-light;
    margin-bottom: 30px;
  }

  input,
  textarea {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid $clear;
    box-sizing: border-box;
    display: block;
  }

  input[type='submit'] {
    background: $red-light;
    color: $white;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    outline: none;
    &:active {
      transform: translateY(2px);
      font-weight: bold;
    }
  }
}

.inputs-wrapper {
  max-width: 400px;
}

.container {
  margin: 20px 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  &__div {
    width: 48%;
  }
}
